@{
    ViewData["Title"] = "Home Page";

}


<link rel="stylesheet" href="~/css/Login.css" />

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form method="POST" action="/Home/Login" autocomplete="off">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					 <input type="text" class="form-control" style="border-radius: 50px;
                     height: 50px;" name="Email" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					 <input type="password" class="form-control" style="border-radius: 50px;
                      height: 50px;" name="Password" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Login</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			
		</div>
			
	</div>
</div>