<div class="masthead">

</div>


           <div style="margin-left:40%;" class="col-md-5">
                


                <p class="mb-0 font-weight-bold">Email Address</p>
                <p class="mb-0"><a href="#">mehmetsunay@hotmail.com</a></p>

                <p class="mb-0 font-weight-bold">Telephone Number</p>
                <p class="mb-0"><a href="#">05363473400</a></p>
            </div>